---
---

@import "{{ site.theme }}";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  background-color: rgba(255, 255, 255, 0.5);
}

.icon {
  float: left;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 5px;
}

.site_title {
  font-family: "Calisto MT", serif;
  font-weight: 100;
  font-size: 24;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 5px;
  float: left;
}

h1 {
  color: #58585a;
}

h2 {
  color: #58585a;
}

section {
}
