---
---

@import "{{ site.theme }}";

header {
  position: fixed;
  top: 30;
  width: 100%;
  font-family: Garamond, serif;
}

.icon {
  width: 10%;
  top: 30;
  float:left;
}

.site_title {
  top: 30;
  width: 10%;
  font-size: 32;
  float:left;
}

h1 {
  color: #58585a;
}

h2 {
  color: #58585a;
}

section {
}
