---
---

@import "{{ site.theme }}";

header {
  position: fixed;
  top: 30;
  width: 100%;
  font-family: Garamond, serif;
}

.icon {
  width: 50%;
  top: 30;
  margin-right: 2%;
  float: left;
}

.site_title {
  top: 30;
  width: 50%;
  float:left;
}

h1 {
  color: #58585a;
}

h2 {
  color: #58585a;
}

section {
}
