---
---

@import "{{ site.theme }}";

header {
  position: fixed;
  top: 15;
  width: 50%;
  font-family: "Calisto MT", serif;
  font-weight: 100;
  border-bottom-style: solid;
  opacity: 0.5;
}

.icon {
  width: 7%;
  top: 15;
  float: left;
}

.site_title {
  top: 20;
  width: 30%;
  font-size: 32;
  float: left;
}

h1 {
  color: #58585a;
}

h2 {
  color: #58585a;
}

section {
}
