---
---

@import "{{ site.theme }}";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-style: solid;
  border-color: (0, 0, 0, .1);
  background-color: rgba(255, 255, 255, 0.5);
}

.icon {
  top: 50%;
  width: 7%;
  float: left;
  padding: 9px 16px;
}

.site_title {
  top: 50%;
  width: 30%;
  font-family: "Calisto MT", serif;
  font-weight: 100;
  font-size: 24;
  padding: 9px 16px;
  float: left;
}

h1 {
  color: #58585a;
}

h2 {
  color: #58585a;
}

section {
}
