---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "abril";
  src: url("/css/fonts/AbrilFatface-Regular.otf");
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  background-color: rgba(255, 255, 255, 0.8);
}

.icon {
  float: left;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 5px;
}

.site_title {
  font-family: "Calisto MT", serif;
  font-weight: 100;
  font-size: 24;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 5px;
  float: left;
}

.img {
  padding-top: 10px;
  padding-bottom: 0px;
}

.popular {
  font-family: Impact;
  font-size: 20;
  color: #000000;
  padding-bottom: 0px;
  padding-top: 5px;
}

.art1title {
  padding-top: 0px;
  padding-bottom: 10px;
  width: 400px;
}

.art2title {
  padding-top: 0px;
  padding-bottom: 10px;
  width: 400px;
}

.article1_head {
  text-align: center;
}

section {
  float: left;
  width: 600px;
  padding-top: 5px;
  padding-left: 135px;
}

h1 {
  color: #58585a;
}

h2 {
  color: #58585a;
  padding-bottom: 5px;
}

a {
  color: #58585a;
  padding-bottom: 0px;

}

p {
  padding-bottom: 0px;
}
