---
---

@import "{{ site.theme }}";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Calisto MT", serif;
  font-weight: 50;
  border-bottom-style: ridge;
  background-color: rgba(255, 255, 255, 0.5);
}

.icon {
  width: 7%;
  top: 50%;
  left: 30;
  float: left;
}

.site_title {
  top: 50%;
  width: 30%;
  font-size: 32;
  float: left;
}

h1 {
  color: #58585a;
}

h2 {
  color: #58585a;
}

section {
}
