---
---

@import "{{ site.theme }}";

header {
  position: fixed;
  color: #58585a;
  top: 50;
  width: 100%;
  font-family: Garamond, serif;
}

section {
  #if href do this:
  font-family: Abril Fatface, sans-serif;
  color: #58585a;
}
